header{
    width: 99%;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 15px;
    background-color: #2a2a2a;
    z-index: 9999;
    position: fixed;
}

.menu-btn {
    padding: 12px;
    background-color: #2a2a2a;
    color: #ffffff;
    font-size: 1.7em;  
    cursor: pointer;
    z-index: 11;
    border: none;
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-content {
    position: absolute;
    top: 80px;
    left: 0;
    width: 200px;
    background-color: #111;
    padding: 15px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.menu-content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-content a {
    color: #2a2a2a;
    text-decoration: none;
}

.menu-content.show {
    display: flex;
}


.logo{
    color: white;
    font-family: 'Dela Gothic One';
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login{
    background-color: #000000;
    height: 20px;
    width: 40px;
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 10px;
    font-family: 'Gentium Book Plus';
}

.sidebar {
    position: fixed;
    top: 50px;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #2a2a2a;
    color: white;
    transition: left 0.3s ease;
    padding: 20px;
}

.sidebar.show {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.sidebar ul h1 {
    font-family: 'Gentium Book Plus', serif;
    font-size: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    
}

.indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.indicators .number {
    font-size: 3em;
    font-weight: bold;
}

.indicators ul {
    display: flex;
    gap: 10px;
}

.indicators ul li {
    width: 40px;
    height: 5px;
    background-color: #c7c7c6;
    border-radius: 5px;
    transition: 0.5s;
}

.indicators ul li.active {
    background-color: #000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #000;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
}

.form-login label {
    text-align: left;
    font-weight: bold;
}

.form-login input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-footer {
    margin-top: 20px;
}

.modal-footer .modal-enter button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #acacac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    gap: 20px;
}

.modal-footer .modal-enter button:hover {
    background-color: #797979;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
}

.modal-footer p a {
    color: inherit;
    text-decoration: none;
}

.modal-footer p a:hover {
    text-decoration: underline; 
}

@media (max-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 10px;
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
    }

    header nav ul {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .menu-btn{   
        padding-right: 10px;
        color: #ffffff;
        font-size: 1.2em;  
        cursor: pointer;
        z-index: 11;
        border: none;
        font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif  
    }

    .modal-content {
        width: 90%;
        padding: 15px;
    }

    .close-btn {
        font-size: 18px;
    }
}