.cardsGrid{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.imageContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-display: none;
    font-size: 35px;
    position: relative;
    transition: filter 0.1s, transform 0.1s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.imageContainer:hover{
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    filter: brightness(1.75);
    display: flex;
    
}

.textCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.0);
    width: 100%;
    pointer-events: none;
}

div .imageContainer:hover .textCard {
    color: rgba(255, 255, 255, 1.0);
}