footer{
    width: 99%;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 15px;
    background-color: #2a2a2a;
    z-index: auto;
    position: fixed;
}
