main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 100px;
    overflow-X: hidden;
}

.card{
    border-radius: 16px;
    align-items: top;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 80%;
    height: auto;
    background-color: #D7D7D7;
    color:black;
    box-shadow: 4px 6px 5px rgba(54, 54, 54, 0.5);
    overflow-x: hidden;
}

.titleSubtitle{
    display: flex;
    font-family: "Days One", sans-serif;
    font-style: normal;
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.imageContainer{
    justify-content: right;
    display: flex;
    align-items: center;
    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.cardContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 150px;
    overflow-x: hidden;
}
